.profile {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }
}
