.form__input-text-form {
  width: 100%;
  min-height: 27px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 0 30px;
  padding: 0;
}

.form__input-text-form:last-of-type {
  margin: 0;
}
